html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
	background: white;
}

.navigation {
 	position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 50px;
	list-style-type: none;
    padding-top: 20px;
    margin: 0 auto 0 auto;
    font-size: 20px;
    background: lightgray;
    text-align: left;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.content {
	margin: 200px 230px;
  font-family: monospace;

}

.content .box {
    width: calc(500px - 30px);
    height: calc(500px - 30px);
    background: lightgray;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.container {
  position: absolute;
  top: 1200px;
  font-family: monospace;

}

.container .box1 {
    width: calc(1000px - 30px);
    height: calc(600px - 30px);
    background: lightgray;
    margin: 250px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 50px;
}

.LiPC {
  display: inline;
    margin: 8px 40px;
  transition: 0.6s;
  border-radius: 15px;

}

.logo {
  margin-left: 900px;
  width: 30px; 
  height: 30px; 
  border-radius: 50px;
}

.login {
  border: 0;
  font-family: monospace;
  border-radius: 10px;
  position: absolute;
  left: 1250px;
  bottom: 15px;
  width: 110px; 
  height: 30px;
  background: blue;
  color: white;
  transition: 1s;
}

.login1 {
  border: 0;
  font-family: monospace;
  border-radius: 10px;
  position: absolute;
  left: 1120px;
  bottom: 15px;
  width: 110px; 
  height: 30px;
  background: blue;
  color: white;
  transition: 1s;
}

.login:hover {
  transition: 1s;
  background: black;
}

.login1:hover {
  transition: 1s;
  background: black;
}

.LinkPC {
	text-decoration: none;
	font-family: monospace;
  transition: 0.6s;

}

footer {
  position: absolute;
  top: 2200px;
  font-family: monospace;
  font-size: 12px;
  bottom: 0;
  width: 100%;
  height: 100px;
  font-size: 14px;
  line-height: 60px;
  background-color: lightgray;
  color: #000000;
  text-align: center;
}

.navigation .LiPC:hover {
  background: black;
  transition: 0.6s;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.navigation .LinkPC:hover {
  color: white;
  transition: 0.6s;
}

img {
  width: 500px;
  height: 250px;
  border-radius: 30px 30px 0px 0px;
}

h4 {
  margin-left: 15px;
}

h2 {
  margin-left: 15px;
}

.buy {
    border: 2px solid #04AA6D;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 10px;
    transition: 1s;
    color: black;

}

.buy:hover {
  transition: 1s;
  background: #04AA6D;
  color: white;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  margin-top: 10px;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  margin-top: 10px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gotopbtn
{
  position: absolute;
  width: 50px;
  height: 50px;
  background: #27ae60;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  color: white;
  font-size: 32px;
}